* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background-color: yellow;
}

.customize-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.customize-field {
  outline: 1px solid rgb(230, 230, 230);
  background-color: white;
  padding: 10%;
}

.costomize-field-last {
  flex-grow: 1;
}

.preview-box {
  flex: 2;
}

.preview-image {
  max-width: 100%;
  padding: 5%;
}

.qr-code-information {
  display: flex;
}
